.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/

/.pnpm-store/

app/lib/generated/prisma
prisma/dev.db

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
